ul.me-auto.mb-2.mb-lg-0 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
}

li.nav-item {
  border: 3px;
  padding: 10px;
  background: mistyrose;
  border-radius: 5px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}
